<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sıkça Sorulan Sorular - Shopie</title>
    <link rel="stylesheet" href="sss_styles.css">
    <script src="js\sss_script.js" type="text/javascript"></script>
</head>

<body>
    <div class="foruMain">
        <div class="forum">
            <form action="mailto:khalil.karatas@gmail.com" method="post" enctype="text/plain">
                <p>Ad-Soyad:<br><input required class="normaInput" type="text" name="AD"
                        placeholder="Örn. Ali Veli Uzunkavakaltındayatıruyuroğlu"></p> <br>
                <p> E-Posta:<br><input required class="normaInput" type="text" name="POSTA"
                        placeholder="Örn. Ali_Veli@gmail.com"></p><br>
                <p>Sorunuzu anlatınız:<br><textarea required class="longInput" name="SORUN" id="sorun" cols="30" rows="10"
                        placeholder="Lütfen sorunuzu detaylıca yazınız. Eğer varsa resim/dosyalarınızı yüklemeyi unutmayınız."></textarea>
                </p><br>
                <button class="gönder" type="submit" value="Gönder">Gönder</button>
            </form>
        </div>
        <div class="hızlıÇözümler" style="padding-inline: 150px;">
            <div class="miniFAQ" style="padding: 18px;">
                <p>Bunları mı merak ediyorsunuz?</p>
            </div>
            <br>
            <div style="padding-right: 25px;">
                <div>
                    <input style="border-top-left-radius: 10px;border-top-right-radius: 10px;" class="çözümButon"
                        type="button" onclick="location.href='sss.html';"
                        value="Aldığım ürünleri nasıl iade edebilirim? " />
                </div>
                <div>
                    <input class="çözümButon" type="button" onclick="location.href='sss.html';"
                        value="Ücret iadem ne zaman yapılır? " />
                </div>
                <div>
                    <input class="çözümButon" type="button" onclick="location.href='sss.html';"
                        value="Siparişim ne zaman gelir? " />
                </div>
                <div>
                    <input style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;" class="çözümButon"
                        type="button" onclick="location.href='sss.html';" value="Siparişimi nasıl iptal edebilirim? " />
                </div>
            </div>
        </div>
    </div>
</body>

</html>