<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sıkça Sorulan Sorular - Shopie</title>
    <link rel="stylesheet" href="sss_styles.css">
</head>

<body>
    <div class="accordion-body">
        <div class="accordion">
            <div class="başlık" style="border-radius: 10px;border-style: solid; color: #B27894;">
                <h1>Sıkça Sorulan Sorular</h1>
            </div>
            <br><br>
            <div class="test" style="border-radius: 10px;">
                <div class="container" style="border-top-left-radius: 10px;border-top-right-radius: 10px;">
                    <div class="label" style="font-weight: bold;">Aldığım ürünleri nasıl iade edebilirim?</div>
                    <div class="content">
                        <hr>
                        <div class="content_holder">1. “Hesabım” > “Siparişlerim” > “Sipariş detay” adımlarını takip
                            edin.
                            <br />
                            2. İade Kargo Kodu Oluştur butonuna tıklayın.
                            <br />
                            3. İade edilecek ürün ve iade nedeni seçin. Aynı üründen birden fazla satın aldıysanız iade
                            edilecek
                            ürün adedini de seçmeniz gerekir.
                            <br />
                            4. İade etmek istediğiniz ürünlerin uygunluğuna göre size önerilen iade yöntemlerinden
                            birini
                            seçin.
                            <br />
                            5. Birden fazla kargo seçeneği çıktığı durumda kargo seçiminizi yapın.
                            <br />
                            6. Ekranda çıkan iade kargo kodunu not alın. İade kargo kodunuza siparişlerim sayfasından da
                            ulaşabilirsiniz.
                            <br />
                            7. İade kodu aynı olan ürünleri faturasıyla beraber aynı pakete koyun ve paketin sağlam
                            olduğundan
                            emin olun.
                            <br />
                            8. İade kodu farklı olan ürünler aynı kargoya verilse bile farklı paketler halinde
                            verilmelidir.
                            <br />
                            9. Seçtiğiniz iade yöntemine göre 7 gün içinde paketinizi kargo şubesine teslim edin veya
                            randevu
                            gününde adresinize gelecek görevliye teslim edin.
                            <br />
                            10. 7 günü geçirdiğiniz durumda yeniden iade kargo kodu almanız gerekir.
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="label" style="font-weight: bold;">Ücret iadem ne zaman yapılır?</div>
                    <div class="content">
                        <hr>
                        <div class="content_holder">1. İptal ettiğiniz ürünün ücret iadesi bankanıza bağlı olarak
                            değişkenlik
                            gösterebilir. Bu süre yaklaşık 1 haftayı bulabilir.
                            <br />
                            2. İade ettiğiniz ürünün ücret iade süreci aşağıdaki gibidir;
                            <br />
                            • Ürün satıcıya ulaştıktan sonra en geç 48 saat içerisinde iade şartlarına uygunluğu kontrol
                            edilir.
                            <br />
                            • Ürün iade şartlarına uygunsa, iadeniz onaylanır ve ücret iadeniz bankanıza bağlı olarak
                            2-10
                            iş
                            günü içerisinde ödeme yapmış olduğunuz kartınıza yansır.
                            <br />
                            • Ürün iade şartlarına uygun değilse adresinize geri gönderilir.
                            <br />
                            <br />
                            Not:
                            <br />
                            • Bankanıza ücret iadesi yapıldığında üyelik e-posta adresinize bilgilendirme mesajı
                            gönderilir.
                            Tutarın kartınıza/hesabınıza yansıma süresi bankanıza bağlıdır.
                            <br />
                            • Banka kartına yapılan iadenlerin hesabınıza yansıma süresi daha uzundur.
                            <br />
                            • Bankanızdan ücret iadesi kontrolü yapmak için “Hesabım” > “Siparişlerim“ adımından
                            referans
                            numaranızı görüntüleyebilirsiniz.
                            <br />
                            • Taksitli yapılan alışverişlerin ücreti bankaya tek seferde ödenir ancak bankanız bu tutarı
                            kredi
                            kartınıza taksitli bir şekilde iade eder.
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="label" style="font-weight: bold;">Siparişimin teslimat adresini veya alıcı adını
                        değiştirebilir miyim?</div>
                    <div class="content">
                        <hr>
                        <div class="content_holder">• Ana sayfada yer alan "Hesabım" bölümünde bulunan “Siparişlerim“
                            sekmesinden
                            siparişinizin durumunu kontrol edin.
                            <br />
                            <br />
                            • Eğer siparişiniz “Siparişiniz Alındı” ya da “Siparişiniz Hazırlanıyor” statüsünde ise
                            aşağıdaki
                            kanaldan talebinizi bize iletin.
                            <br />
                            “Hesabım” bölümünde “Yardım“ sekmesinde yer alan “Canlı Yardıma Bağlan” butonu
                            <br />
                            • Eğer siparişiniz “Kargoya Verildi” statüsündeyse alıcı ve/veya adres değişikliğini kargo
                            firmaları
                            da sadece belli bir süre içerisinde yapabilir. Değişiklik talebinizi iki şekilde
                            iletebilirsiniz.
                            <br />
                            <br />
                            1. Kargonun gönderildiği kargo firması ile irtibata geçerek
                            <br />
                            2. “Hesabım” bölümünde “Yardım“ sekmesinde yer alan “Canlı Yardıma Bağlan” butonu
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="label" style="font-weight: bold;">Siparişim ne zaman gelir?</div>
                    <div class="content">
                        <hr>
                        <div class="content_holder">• Satın aldığınız ürünler ürün detay sayfasında belirtilen teslimat
                            tarih
                            aralığında teslim edilir. Satın aldığınız ürünlerin teslimat tarihine "Hesabım" bölümünde
                            “Siparişlerim“ sayfasından da ulaşabilirsiniz.
                            <br />
                            <br />
                            • Üründe “24 saatte kargoda” yazısı var ise siparişiniz 24 saat içinde kargoya verilir. Bu
                            ürünler
                            “HIZLI TESLİMAT” ürünleridir.
                            <br />
                            <br />
                            • Sipariş dağıtıma çıktığında kargo firması tarafından SMS ile bilgilendirilirsiniz.
                            <br />
                            <br />
                            • Kargoya verildikten sonra siparişinizin kargo aşamalarını "Hesabım" bölümünde
                            “Siparişlerim“
                            sekmesinde bulunan “Kargom Nerede?" linkinden takip edebilirsiniz.
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="label" style="font-weight: bold;">Siparişimi nasıl iptal edebilirim?</div>
                    <div class="content">
                        <hr>
                        <div class="content_holder">Yanlış ürün sipariş ettiyseniz veya fikrinizi değiştirdiyseniz
                            ürünlerinizin kargo
                            hazırlıkları başlamadan önce aşağıdaki şekilde kolayca iptal edebilirsiniz.
                            <br />
                            1. “Siparişlerim” > “Detaylar/Sipariş Detayı” > “Sipariş İptal” adımlarını takip ederek.
                            <br />
                            2. “Hesabım” bölümünde yer alan “Yardım” adımından “Canlı Yardıma Bağlan”a tıkladığınızda
                            açılan
                            sayfada “İptal ve İade”yi seçerek.
                            <br />
                            <br />
                            Ürünleriniz kargolanmak üzere hazırlanmaya başlandıysa (faturanız kesildiyse) veya kargoya
                            verildiyse iptal edilemez. Bu durumda ürünü teslim aldığınızda iade edebilirsiniz.
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="label" style="font-weight: bold;">Kampanyadan yararlandığım bir siparişte iptal ya da
                        iade yaparsam kampanya iptal
                        olur
                        mu?</div>
                    <div class="content">
                        <hr>
                        <div class="content_holder">• İptal ya da iade gerçekleştirildiği halde kampanya koşulları
                            sağlanmaya devam
                            ediyorsa kampanya iptal olmaz.
                            <br />
                            • İptal ya da iade sonrası siparişte kalan ürünler kampanya şartlarını sağlamaya yetmiyorsa,
                            ücret
                            iadesi, iptal ya da iade edilen ürünler için kampanyadan gelen indirim tutarı düşülerek
                            yapılır.
                        </div>
                    </div>
                </div>
                <div class="container" style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                    <input class="buton" type="button" onclick="location.href='form.html';"
                        value="Sorunuzu Göremiyor musunuz?" />
                </div>
            </div>
        </div>
    </div>

    <script src="js\sss_script.js" type="text/javascript">

    const accordion = document.getElementsByClassName('container');

    for (i = 0; i < accordion.length; i++) {
    accordion[i].addEventListener('click', function () {
        this.classList.toggle('active')
    })
}
    </script>
</body>

</html>